<a *ngIf="ticket._id" [href]="'https://tigerspike.atlassian.net/browse/' + ticket.ticket" target="_blank"
  [class]="'card card-small ' + ticket.status"
  [matTooltip]="ticket.description"
  (contextmenu)="contextMenuHandler($event)"
  (touchstart)="touchStart($event)"
  (touchmove)="touchMove()"
  (touchend)="touchEnd()">
  <ng-container [ngSwitch]="ticket.status">
    <mat-icon *ngSwitchCase="'success'">done</mat-icon>
    <mat-icon *ngSwitchCase="'info'">label</mat-icon>
    <mat-icon *ngSwitchCase="'warning'">alarm</mat-icon>
  </ng-container>
  <span>{{ticket.ticket}}</span>
  <ng-container [ngSwitch]="ticket.type">
    <mat-icon *ngSwitchCase="'mobilebug'" class="type">perm_device_information</mat-icon>
    <mat-icon *ngSwitchCase="'bug'" class="type">bug_report</mat-icon>
  </ng-container>
</a>
<div *ngIf="!ticket._id" class="card card-small" (click)="addThisTicket()">
  <mat-icon>add</mat-icon>
  <span>{{ticket.ticket}}</span>
</div>

